/*-------*\
  Generic
\*-------*/

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

body { min-height: 100%; }

h1 { margin-bottom: $clearance-medium; }

html { height: 100%; }

p:not(:last-of-type) { margin-bottom: $clearance-small; }
