/*
 * Coming soon & error page page
 */
body.coming-soon,
body.error-page {
  background-color: $primary;

  // https://css-tricks.com/centering-css-complete-guide/
  align-items: center;
  display: flex;
  justify-content: center;
}
