/*
 * Coming soon page
 */
body.coming-soon {
  background-color: $primary;

  // https://css-tricks.com/centering-css-complete-guide/
  align-items: center;
  display: flex;
  justify-content: center;
}
