div.error-container {
  text-align: center;

  h1 {
    color: $white;
    font-family: Comfortaa;
    font-size: $size-1;
    font-weight: $weight-light;
    margin-bottom: 2rem;
  }

  .message {
    font-size: $size-5;
    max-width: 30rem;

    p:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}
