/*------------------*\
  Component: Message
\*------------------*/

/**
 * Extend message component: Bulma > Buefy >
 */

.message.is-compact {
  max-width: 30rem;
}

.message-header {
  @extend .has-text-weight-medium;

  .message.is-compact > & {
    justify-content: center;
  }
}
