/*--------------------------------*\
  Variables / Settings / Overrides
\*--------------------------------*/

/*
 * peerhaven
 */

/* Clearance / Gaps / Space */
$clearance-medium: 3rem;
$clearance-small:  1rem;

/* Colors */
$pink: hsl(332, 92%, 58%);

$secondary: $pink;

/* Typography */
$family-heading-text: ('Comfortaa', sans-serif);
$family-running-text: ('Maven Pro', sans-serif);


/*
 * Customise Bulma
 */

/* Initial: Colors */
$turquoise: hsl(175, 63%, 52%);

/* Derived: Link colors */
$link-hover: $secondary;

/* Derived: Typography */
$size-normal: 1.25rem; // == $size-5
