/*--------------------------------*\
  Variables / Settings / Overrides
\*--------------------------------*/

/*
 * Peerhaven
 */

/* Colors */
$pink: hsl(332, 92%, 58%);

$secondary: $pink;

/* Typography */
$family-heading-text: ('Comfortaa', sans-serif);
$family-running-text: ('Maven Pro', sans-serif);


/*
 * Customise Bulma
 */

/* Initial: Colors */
$turquoise: hsl(175, 63%, 52%);

/* Derived: Link colors */
$link-hover: $secondary;
